# Variables examples for Keycloak and OAuth2 Proxy configuration

# Keycloak admin credentials
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin123

# IP server host
HOST_IP=172.20.0.23

# OAuth2 Proxy
OAUTH2_PROXY_CLIENT_SECRET=supersecret123
OAUTH2_PROXY_COOKIE_SECRET=0123456789abcdef0123456789abcdef 
# If you need a generate a cookie secret, you can use the following command:
# openssl rand -hex 32


# Credentials for the test user
USERNAME=testuser
PASSWORD=testpassword123
# this user can be login


